:root {
    --primaryColor: #2e2f31;
    --orangeColor: #ec6e08;
    --lightGreyColor: #bdbdbd;
}


@media screen and (min-width: 1024px) {
    .header {
        /* border: 2px solid red; */
        position: relative;
        top: 110px;
        z-index: 1;
    }
}