:root {
    --primaryColor: #2e2f31;
    --orangeColor: #ec6e08;
    --lightGreyColor: #bdbdbd;
}


@media screen and (max-width: 3000px) {
    .header {
        /* border: 2px solid red; */
        position: relative;
        top: 190px;

    }
}