:root {
    --primaryColor: #2e2f31;
    --orangeColor: #ec6e08;
    --lightGreyColor: #bdbdbd;
}


@media screen and (min-width: 768px) {
    .main-image-container {
        /* border: 2px solid red; */
        max-width: 800px;
        height: 1000px;
        margin: 0 auto;
        margin-top: 100px;
        position: relative;
        bottom: 70px;

    }
    .main-image-container img {
        /* border: 2px solid red; */
        width: 700px;
        /* position: relative;
        bottom: 50px; */
    }

    .link button {
        /* border: 2px solid red; */
        width: 400px;
        font-size: 2.2em;
        padding: 30px 0 30px 0;
        display: flex;
        justify-content: center;
    }


}