@media screen and (min-width: 1024px) {
    .river-container {
        border: 2px solid red;
    }
    /* .link {
        border: 2px solid red;
        font-size: 2em;
        padding: 10px 0 0 0;
    } */

    .button {
        /* border: 2px solid red; */
        padding: 10px;
        font-size: 2em;
        max-width: 400px;
        margin-top: 10px;
    }
}