/* body {
    background-color: grey;
} */

.header {
    /* background-color: grey; */
    border: 2px solid red
}

#fish-logo {
    /* border: 2px solid red; */
}


/* need to fix this, its not correct */
.search-form {
    position: relative;
    top: 110px;
    margin: 0 auto;
}