
.hidden {
    display: none;
}

:root {
    --primaryColor: #48494D;
    --orangeColor: #ec6e08;
    --lightGreyColor: #bdbdbd;
}

.body {
    background-color: var(--primaryColor);
    height: 100%
}



.header {
    /* background-color: var(--primaryColor); */
    /* border: 2px solid red */
}

#fish-logo {
    /* border: 2px solid red; */
    position:absolute;
    left: 25px;
}

.main-image {
    /* border: 2px solid hotpink; */
    max-width: 100%;
    /* max-height: 100%; */
    height: 550px;
    height: 600px;
    object-fit: cover;
    /* background-size: cover; */
    /* margin: auto; */
    overflow: hidden;
}

#water-logo {
    /* border: 2px solid red; */
    transform: scale(.7);
}
.span {
    /* border: 2px solid red; */
    margin: 0px !important;
}

.find-water-button {
    border: 1.5px solid var(--orangeColor);
    margin: 40px 0 0 0;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: .8em;
    color: var(--lightGreyColor);
    background-color: var(--primaryColor);
    position: relative;
    /* top: 50px; */
    height: 40px;
}


h2 {
    width: 15%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.button {
    border: 1.5px solid var(--lightGreyColor);
    /* margin: 10px 0; */
    border-radius: 3px;
    text-transform: uppercase;
    font-size: .5em;
    color: var(--lightGreyColor);
    background-color: var(--primaryColor);
}

.button:hover {
    transform: scale(1.05);
}



/* FOOTER AREA */
.footer-color {
    /* border: 2px solid red; */
    position: relative;
    bottom: -20px;
    background-color: var(--orangeColor);
}

.search-form {
    position: relative;
    /* bottom: -30px; */
    margin: 10px auto;
    /* height: 50px; */
}

input[type='text'], textarea {
    /* border:2px solid red; */
    background-color: var(--primaryColor);
    color: var(--lightGreyColor);
    /* border: 1.5px solid var(--lightGreyColor); */
    margin: 5px 0 5px 0;
    border: none;
    border-radius: 4px;
    text-align: center;
}
input[type='submit'] {
    background-color: var(--primaryColor);
    border: none;
    margin-left:5px;
    border-radius: 4px;
}
input[type='submit']:active {
    transform: scale(1.2)
}

