
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap'); */

:root {
    --primaryColor: #48494D;
    --orangeColor: #df8c0f;
    --lightGreyColor: #bdbdbd;
}

.App{
    background-color: var(--primaryColor);
}

.header {
    /* background-color: var(--primaryColor); */
    /* border: 2px solid red */
}

.river-buttons {
    /* border: 2px solid red; */
    margin: 0 auto; 
    width: 15%;
    display: flex;
    flex-direction: column;

}

.button {
    border: 1.5px solid var(--lightGreyColor);
    margin: 10px 0;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: .5em;
    color: var(--lightGreyColor);
    background-color: var(--primaryColor);
}
.button:hover {
    transform: scale(1.1);
}

#fish-logo {
    /* border: 2px solid red; */
}


/* need to fix this, its not correct */
.search-form {
    /* position: relative;
    top: 110px; */
    margin: 20px auto;
}